
body {
    position: relative;
    margin: 0;
    font-family: Lexend Deca;
  }
  
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #023E7D;
    box-shadow:-1px 5px 4px gray;
    font-family: Lexend Deca;
  }
  
  .topnav a {
    width: 200px;
    margin-left: 60px;
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 115px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    font-family: Lexend Deca;
  }
  
  .topnav a:hover {
    position: relative;
    background-color: #ddd;
    color: black;
    transition: 0.3s;
    font-family: Lexend Deca;
  }
  
  .topnav a.active {
    position: relative;
    color: white;
    font-family: Lexend Deca;
  }
  .login{
    padding-top: 10px;
    position: absolute;
    background-color: #023E7D;
    width: 150px;
    height:40px ;
    text-align: center;
    box-shadow:3px 5px 4px black;
    font-family: Lexend Deca;
  }
  .avatar {
    margin-top: 45px;
    margin-left: 1350px;
    position: absolute;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-color: #f5f5f5;
    border-style: solid;
    transition: transform .2s;
    background-color: #f5f5f5;
  }
  .avatar:hover{
    transition: 0.3s;
    transform: scale(1.04);
  }
  .logoimg{
    width: auto;
    height:199px;
  }
  .fundog{
    position: relative;
    background-color: #001233;
    
  }
  .quadpesq{
    font-family: Lexend Deca;
    position:absolute;
    padding: 8px 16px;
    margin-top: 70px;
    margin-left: 200px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  #divBusca{
    margin-top: -30px;
    position: relative;
    background-color: #f5f5f5;
    border:solid 2px #023E7D;
    border-radius:8px 10px;
    width:430px;
    height:40px;
    box-shadow:4px 6px 5px black;
    font-family: Lexend Deca;
  }
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    padding-top: 6px;
    font-size:18px;
    outline: 0;
    border:none;
    height:32px;
    width:360px;
    font-family: Lexend Deca;
  }
  .imglupa{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 390px;
    margin-top: 10px;
  }
  .sidebar {
    font-family: Lexend Deca;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#f5f5f5;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    font-family: Lexend Deca;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: gray;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: #818181;
    padding: 15px 15px;
    border: none;
    transition: 0.3s;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  
  .openbtn:hover {
    background-color: #bbb;
  }
  #img1{
    font-family: Lexend Deca;
    border-radius: 8px;
    position: relative;
    transition: transform .2s;
    margin-left: 30px;
    margin-top:20px;
    box-shadow:3px 5px 4px gray;
    height: 600px;
    width: 470px;
  }
  #img1:hover{
    transform: scale(1.01);
  }
  
  .txtimg1{
    font-family: Lexend Deca;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #f5f5f5;
    font-size: x-large;
    padding: 35px 25px;
    position: absolute;
    border-color: #f5f5f5;
    border-style: solid;
    margin-left: -453px;
    margin-top: 470px;
  }
  #img2{
    border-radius: 8px;
    position: relative;
    transition: transform .2s;
    height: 600px;
    width: 470px;
    margin-left:30px;
    margin-top: 20px;
    box-shadow:3px 5px 4px gray;
  }
  #img2:hover{
    transform: scale(1.01);
  }
  .txtimg2{
    font-family: Lexend Deca;
    position: absolute;
    text-align: center;
    background-color: transparent;
    color: #f5f5f5;
    font-size: x-large;
    padding: 20px;
    width: 380px;
    height: 85px;
    position: absolute;
    border-color: #f5f5f5;
    border-style: solid;
    margin-left: -453px;
    margin-top: 470px;
  }
  #img3{
    border-radius: 8px;
    position: relative;
    margin-bottom: 207px;
    transition: transform .2s;
    margin-left: 50px;
    width: 400px;
    height: 393px;
    box-shadow:3px 5px 4px gray;
  }
  #img3:hover{
    transform: scale(1.02);
  }
  
  .txtimg3{
    font-family: Lexend Deca;
    position: absolute;
    margin-left: -377px;
    transition: transform .2s;
    margin-top: 260px;
    text-align: center;
    background-color: transparent;
    color: #f5f5f5;
    font-size: x-large;
    padding: 20px;
    width: 310px;
    height: 85px;
    position: absolute;
    border-color: #f5f5f5;
    border-style: solid;
  
  }
  
  #img4{
    border-radius: 8px;
    position: relative;
    transition: transform .2s;
    margin-bottom: 30px;
    margin-top: -187px;
    margin-left: 1058px;
    box-shadow:3px 5px 4px gray;
  }
  #img4:hover{
    transform: scale(1.03);
  }
  .txtimg4{
    font-family: Lexend Deca;
    position: absolute;
    margin-left: -377px;
    margin-top: -158px;
    text-align: center;
    background-color: transparent;
    color: #f5f5f5;
    font-size: x-large;
    padding: 23px;
    width: 310px;
    height: 85px;
    position: absolute;
    border-color: #f5f5f5;
    border-style: solid;
  
  }
  
  #instagram{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 70px;
  
  }
  #whatsapp{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 10px;
  }
    .box{
      font-family: Lexend Deca;
      width: 55px;
      height: 48px;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      padding: 5px;
      cursor: pointer;
      margin: 0.6em;
      transition: all .4s;
      }
      .box:hover{
      width: 160px;
      background: #c32aa3;
      border-radius: 10px;
      color: white;
      box-shadow: 0 0 50px #b315917c;
      }
      .box:nth-child(2):hover{
      background: #25d366;
      box-shadow: 0 0 50px #25d3657e;
      }
      p{
      transform: translate(60px);
      }
      .box .icon{
      position: absolute;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-right: 10px;
      transition: all .4s;
      }
      .instagram{
      background: #c32aa3;
      }
      .whatsapp{
      background: #25d366;
      }
      .box:hover .icon{
      background: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
      color: rgb(59, 59, 59);
      
      }
  #rodape{
    height: 80px;
    width: 100%;
    background-color: #001233;
  }
  #zapicon{
    height: 30px;
    width: 30px;
  }
  #instaicon{
    height: 30px;
    width: 30px;
}