<!DOCTYPE html>
<html lang="pt-br">
<title>SP MEDICAL GROUP</title>
<meta charset="UTF-8">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/sp sem fundo joao.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="homepaciente.css">
    <link rel="stylesheet" href="Login.html">
    <style>
      @font-face {
      font-family: "Lexend Deca";
      src: url("LexendDeca-VariableFont_wght.ttf"); 
      }
    </style>
  
    <div class="fundog">
      <span>
        <img src="imagens/avatar.png" alt="Avatar" class="avatar" onclick="openNav()">
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">Perfil</a>
          <a href="Calendario.html">Calendário</a>
          <a href="Homepage.html">Logout</a>
        </div>
      
        <div id="main">
          </button>  
        </div>
      
        
      <div class="quadpesq">
        <div id="divBusca" > <img class="imglupa" src="imagens/lupa.png" alt="lupa">
          <input type="text" id="txtBusca" placeholder="Faça sua busca aqui"/>
        </div>
      </div>
    <div class="logoimg"><img class="logoimg" src="imagens/SP Medical Group.png" alt="logo">
     </div>
    </div>
    <div class="topnav">
      <a href="#endereço">Endereço</a>
      <a href="#Planos">Planos de saúde</a>
      <a href="nossos medicos.html">Nossos Médicos</a>
      <a href="#Quemsomos">Quem somos</a>
      <a href="Minhas consultas.html">Minhas consultas</a>
      <a href="sua tia">Meus exames</a>
      </div>
      <script>
         function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
    }
        
      </script>
</head>
  
<body>
  <span>
    <img id="img1" src="imagens/sedentarismo infantil.jpg" href="https://www.shutterstock.com/pt/search/doa%c3%a7%c3%a3o-de-sangue">
      <span class="txtimg1" href="artigos/obesidade.html">Obesidade infantil. <br> Nutrição saudável, futuro em forma</span>
  </span>
  <span>
    <img id="img2" src="imagens/Saúde mental.jpg">
      <span class="txtimg2">Saúde durante a gravidez. <br> Um presente para a vida: cuide da saúde durante a gravidez</span>
  </span>
  <span >
    <img id="img3" src="imagens/vacina.jpg">
      <span class="txtimg3">Campanhas de vacinação. <br> Proteção que salva vidas: vacine-se, imunize-se!</span>
  </span>
  <span>
    <img id="img4" src="imagens/sla coração.png">
      <span class="txtimg4">Doar sangue é doar vida: seja um herói, doe hoje!</span>
  </span>

</body>
<footer id="rodape">
<span>
  <span class="box" id="instagram">
    <div class="icon instagram">
      <img src="imagens/insta.png" alt="insta" id="instaicon">
    </div>
    <p>Instagram</p>
    </div>
  </span>
    <span class="box" id="whatsapp">
    <div class="icon whatsapp">
      <img src="imagens/zap zap.png" alt="zap" id="zapicon">
    </div>
    <p>Whatsapp</p>
    </span>

</span>
</footer>