<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP MEDICAL GROUP</title>
    <link rel="stylesheet" href="nossos medicos.css">
    <style>
        @font-face {
        font-family: "Lexend Deca";
        src: url("LexendDeca-VariableFont_wght.ttf"); 
        }
      </style>
</head>
<body>
    <button class="btnvoltar">Voltar</button>
    <div class="divgrandona"></div>
    
</body>
</html>